.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Chat-window {
  background-color: #282c34;
  min-height: 100vh;
  /*display: flex;
  /*flex-direction: column;*/
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.top-bar {
  display: flex;
  width: 100%;
  padding: 1em;
  justify-content: space-between;
}

.App-header .title {
  width: 100%;
  padding-bottom: 1em;
  text-align: center;
}

.App .Chat-window {
  height: 100%;
}

.vid-section {
  flex-grow: 1;
}

.main {
  text-align: center;
  float: right;
  justify-content: end;
  max-width: 1300px;
  padding: 1em;
  height: 100%;
}

.chat {
  width: 100%;
}

.chat section p {
  font-size: 0.5em;
  margin-bottom: 0;
}

.chat section .title {
  font-size: 0.5em;
  padding: 0.25em;
  margin-bottom: 0;
  margin-top: 0.25em;
  border-radius: 15px;
}

.chat section .title span {
  padding: 0.25em;
  margin-bottom: 0;
  margin-top: 0.25em;
  border-radius: 15px;
}

.you {
  text-align: right;
}

.received {
  text-align: left;
}

.server {
  background-color: #282c34;
  text-align: center;
}

.input form {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.input .form-control {
  width: fit-content;
  flex-grow: 1;
}

.input .btn {
  text-align: center;
}

.videoP {
  overflow: hidden;
  display: none;
  top: 0;
  left: 0;
  max-width: 400px;
  max-height: 400px;
}

.videoDiv:hover .videoP,
.videoDiv.hover .videoP {
  display: block;
}

.vid {
  width: 400px;
  height: 400px;
}

.vid-local {
  width: 480px;
  height: 300px;
  float: left;
  margin-left: 10vh;
}

.text-outline {
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
