.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Chat-window {
  background-color: #282c34;
  min-height: 100vh;
  /*display: flex;*/
  /*flex-direction: column;*/
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.top-bar {
  display: flex;
  width: 100%;
  padding: 1em;
  justify-content: space-between;
}

.App-header .title {
  width: 100%;
  padding-bottom: 1em;
  text-align: center;
}

.main {
  width: 25%;
  flex-grow: 1;
  float: right;
  justify-content: end;
  max-width: 1300px;
  padding: 1em;
}

.chat {
  width: 100%;
}

.chat section p {
  text-align: right;
  font-size: 0.75em;
  margin-bottom: 0;
}

.chat section .title {
  text-align: right;
  font-size: 0.5em;
  padding: 0.25em;
  margin-bottom: 0;
  margin-top: 0.25em;
  border-radius: 15px;
  background-color: darkolivegreen;
}

.chat .foreign p {
  text-align: left;
}

.chat .foreign .title {
  text-align: left;
  background-color: darkslateblue;
}

.input form {
  margin-top: 0.5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.input .form-control {
  width: fit-content;
  flex-grow: 1;
}

.input .btn {
  text-align: center;
}

.vid {
  width: 400px;
  height: 400px;
}
